/* Ceci doit spécifique uniquement au Craft si nécessaire */

.dé{
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/41GxEBcDmfL.jpg");
	width: 50px;
	height: 50px;
}

.dé>p{
	color:black;
	line-height: 32.5px;
	text-align: center;	
	vertical-align: middle;
	font-family: 'Tangerine', serif;
	font-size: 32.5px;
}

#navbar-cases {
    width: 1200px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    overflow: hidden;
}

.case {
	margin: 1px;
	float: left;
	width: 260px;
	height: 340px;
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/41GxEBcDmfL.jpg");
	border: 2px solid black;
}

.conteneur-img{
	height: 259px;
	width: 50%;
  	margin: 0 auto;
	display: table-cell;
  	vertical-align: middle;
}

.double-img{
	height: 140px;
	width: 50%;
	display: table-cell;
  	vertical-align: middle;
}

.double-img>img{
	width: 50%;
	height: 50%;
	display: block;
	margin: auto;
}

.conteneur-img>img{
	width: 130px;
	height: 154px;
	display: block;
	margin: auto;
}

.cartouche-de-couleur{
	height: 80px;
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align:center;
	line-height: 10px;
	vertical-align: middle;
	font-size: 10px;
	background-color: white;
}

.card-petit-format {
	background-color: transparent;
	float: none;
}

.titre-verso-carte{
	font-size: 32px;
	font-weight: bold;
	color : black; 
	text-align: center;
	line-height: 150px; 
	vertical-align: 75px;
}

#navbar-jetons{
	width: 225px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	overflow: hidden;
	background-color:rgb(150, 150, 150);
}

.jeton{
	margin:.5em;
	font-size:0.75em;
	position:relative;
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:5em;
	height:5em;  
	border-radius:50%;
	position:relative;
	border:.5em dashed white;
	transition:all .5s ease;
	backface-visibility:hidden;
}

.jeton>p{
	text-align: center;
	line-height: 2em;
	vertical-align: middle;
	color:white;
}

.jeton.maitrise{
	background:rgb(87, 58, 0);
}

.jeton.charges-utilisation{
	background:rgb(87, 0, 62);
}

.jeton.sang{
	background:rgb(175, 17, 28);
}