@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

:root{
  /* couleurs images / personnalisées */
  --bgColor:;
  --bgImg:url('https://images-na.ssl-images-amazon.com/images/I/41GxEBcDmfL.jpg');
  --borderColor:;
  --borderImg:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScY9QGLsBFFwqDV_9Fud931slLxis_Cs2liLEhtEG92zkix33T6A');
  --black:#000;
  --white:#fff;
  --lieu:rgb(4, 149, 62);
  --commun:rgb(255, 255, 255);
  --rare:rgb(0, 112, 221); 
  --epique:rgb(163, 53, 238);
  --leg:rgb(205, 126, 67);
  --conso:darkblue;
  --perso:grey;
  --fanion:grey;
  --soin:darkgreen;
  --blessure:#af111c;
  --larcin:lightpink;
  --steuf:saddleBrown;
  --or:gold;

/*Size de block*/
  
  /* image de fond de collection */
  --bgConte:url(../Conte/Images/icone.png);
  --bgDessin:url(../Dessin_anime/Images/icone.png);
  
  /* ombre portée selon la couleur du mot clé */
  --shadowBlanc:-0.25mm 0 var(--white), 0 0.25mm var(--white), 0.25mm 0 var(--white), 0 -0.25mm var(--white);
  --shadowNoir:-0.25mm 0 var(--black), 0 0.25mm var(--black), 0.25mm 0 var(--black), 0 -0.25mm var(--black);
  
  /* polices */
  --slabo:'Slabo 27px', serif;
  --TimesNewRoman:'Times New Roman', serif;

  /* taille effet */
  --heightTitreEffet:5mm;
  --tailleEffet:16px;
  --bgActif:url(../Collection_de_base/Images/actif.png);
  --bgPassif:url(../Collection_de_base/Images/passif.png);

  /* taille icône */
  --widthIcone: 4mm; 
  --heightIcone: 4mm;
  
  /* fontsize */
  --standard:2.8mm;
  --nom:3mm;
  --titre:2.8mm;
  --citation:2.25mm;
  --line-height-citation: 2.25mm;
  --stats:3mm;
}
  
/* ### PERSONNALISATION DES COULEURS SELON TYPE DE CARTE ### */

/* Lieu */
.carte.lieu .nom, lieu{ 
  color:var(--lieu);
  text-shadow: var(--shadowNoir);
}

/* Commun */
.carte.commun .nom, commun{ 
  color:var(--commun);
  text-shadow: var(--shadowNoir);
}

/* Rare */
.carte.rare .nom, rare{ 
  color:var(--rare);
  text-shadow: var(--shadowNoir);
}

/* Epique */
.carte.epique .nom, epique{ 
  color:var(--epique);
  text-shadow: var(--shadowBlanc);
}

/* Légendaire doré */
.carte.leg .nom, leg{ 
  color:var(--leg);
  text-shadow: var(--shadowNoir);
}

/* Consommable */
.carte.conso .nom, conso{ 
  color:var(--conso);
  text-shadow: var(--shadowBlanc);
}

/* Personnage */
.carte.perso .nom, perso{ 
  color:var(--perso);
  text-shadow: var(--shadowNoir);
}

soin{
  color:var(--soin);
  text-shadow: var(--shadowNoir);
}

blessure{
  color:var(--blessure);
  text-shadow:  var(--shadowBlanc);
}

larcin{
  color:var(--larcin);
  text-shadow:  var(--shadowNoir);
}

steuf{
  color:var(--steuf);
  text-shadow:  var(--shadowNoir);
}

or{
  color:var(--or);
  text-shadow:  var(--shadowNoir);
}

effet{
font-weight: bold;
}

/*### PERSONNALISATION DES ICONES DE FOND SELON TYPE DE COLLECTION ###*/
.carte.conte description::before{
  background-image: var(--bgConte);
}

.carte.dessin description::before{
  background-image: var(--bgDessin);
}

description::before{
  width: 62mm;
  height: 61mm;
  background-size: 50mm 50mm;

  opacity: .08;
  background-repeat: no-repeat;
  background-position: center;

  content: "";
  position: absolute;
}

.titre-effet.actif::before{
  width: var(--heightTitreEffet);
  height: var(--heightTitreEffet);

  background-image: var(--bgActif);
  background-size: var(--tailleEffet) var(--tailleEffet);
  background-repeat: no-repeat;
  background-position: center;

  display: block;
  content: "";
  position: absolute;
  top:0;
  left:-0.2mm;
}

.titre-effet.passif::before{
  width: var(--heightTitreEffet);
  height: var(--heightTitreEffet);

  background-image: var(--bgPassif);
  background-size: var(--tailleEffet) var(--tailleEffet);
  background-repeat: no-repeat;
  background-position: center;

  display: block;
  content: "";
  position: absolute;
  top:0;
  left:-0.2mm;
}

/*### PERSONNALISATION DES ICONES ###*/

accessoire-icon{
  content: url(../Collection_de_base/Images/accessoire.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

or-icon{
  content: url(../Collection_de_base/Images/or.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

marchand-icon{
  content: url(../Collection_de_base/Images/marchand.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

attaque-icon{
  content: url(../Collection_de_base/Images/attaque.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

defense-icon{
  content: url(../Collection_de_base/Images/defense.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

blessure-icon{
  content: url(../Collection_de_base/Images/blessure.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

soin-icon{
  content: url(../Collection_de_base/Images/soin.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

conso-icon{
  content: url(../Collection_de_base/Images/consommable_color.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

lieu-icon{
  content: url(../Collection_de_base/Images/lieu.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

portee-icon{
  content: url(../Collection_de_base/Images/portee.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

bonus-1-icon{
  content: url(../Collection_de_base/Images/bonus_1.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

malus-1-icon{
  content: url(../Collection_de_base/Images/malus_1.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

chaotique-icon{
  content: url(../Collection_de_base/Images/ordre_chaotique.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

ordre-neutre-icon{
  content: url(../Collection_de_base/Images/ordre_neutre.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

loyal-icon{
  content: url(../Collection_de_base/Images/ordre_loyal.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

mauvais-icon{
  content: url(../Collection_de_base/Images/moral_mauvais.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

moral-neutre-icon{
  content: url(../Collection_de_base/Images/moral_neutre.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

bon-icon{
  content: url(../Collection_de_base/Images/moral_bon.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

sdm-icon{
  content: url(../Collection_de_base/Images/sdm.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

corps-icon{
  content: url(../Collection_de_base/Images/corps.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

arme-icon{
  content: url(../Collection_de_base/Images/arme.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

bonus-atk-icon{
  content: url(../Collection_de_base/Images/bonus_attaque.jpg);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

bonus-def-icon{
  content: url(../Collection_de_base/Images/bonus_defense.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

d4-icon{
  content: url(../Collection_de_base/Images/d4.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

d3-icon{
  content: url(../Collection_de_base/Images/d3.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

steuf-icon{
  content: url(../Collection_de_base/Images/steuf.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

vol-icon{
  content: url(../Collection_de_base/Images/vol-icon.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

atk-icon{
  content: url(../Collection_de_base/Images/attaque.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

def-icon{
  content: url(../Collection_de_base/Images/d3.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

actif-icon{
  content: url(../Collection_de_base/Images/actif.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

passif-icon{
  content: url(../Collection_de_base/Images/passif.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

bonus-1-icon{
  content: url(../Collection_de_base/Images/bonus_1.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

bonus-2-icon{
  content: url(../Collection_de_base/Images/bonus_2.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

malus-1-icon{
  content: url(../Collection_de_base/Images/malus_1.png);
  width: var(--widthIcone); 
  height: var(--heightIcone);
}

/* conteneur de la carte en entier */
.carte{
  width:61mm;
  height:86mm;
  
  background-image:var(--bgImg);
  background-size:cover;
  
  color:var(--black);
  font-size:var(--standard);
  font-family:var(--TimesNewRoman);
  
  border:1mm solid black;
  border-image-source:var(--borderImg);
  border-image-slice:1;
  
  /* NE PAS TOUCHER */
  position:relative;
  margin:10px;
  display:inline-block;
  vertical-align: top;
}

/* Entete de la carte avec nom + img + fanion */
.carte entete{
  height:30%;
  
  /* NE PAS TOUCHER */
  display:block;
  position:relative;
}

/* nom de la carte : valeurs générales */
.carte .nom{
  text-align:center;
  font-size:var(--nom);
  font-family:var(--slabo);
  text-transform: uppercase;
  font-weight: bold; 
  letter-spacing: 0.5mm;
  
  height: 25%;
  border-bottom: 0.25mm solid var(--black);
  
  /* NE PAS TOUCHER */
  width:80%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* Image de la carte */
.carte .img{
  height: 75%;
  
  /* NE PAS TOUCHER */
  width:80%;
  overflow:hidden;
}
/* resize l'image par rapport au conteneur */
.carte .img>img{
  height: 100%; /* tester soit width soit height ici */
  width: 100%;
}

/* Fanion avec les stats */
.carte .fanion{
  height:102%;
  background:var(--fanion);
  
  text-align:center;
  font-size:var(--stats);
  font-weight:bold;
  
  /* NE PAS TOUCHER */
  display:block;
  width:20%;
  position:absolute;
  top:-1px;
  right:-1px;
}
/* Display correctement les stats */
.carte .fanion>*{
  padding:0.5mm 0;
  width: 20px;
  height: 20px;
  
  /* NE PAS TOUCHER */
  display:inline-block;
  vertical-align:middle;
}

/* Titre de l'effet */
.carte .titre-effet{
  height:var(--heightTitreEffet);
  line-height:var(--heightTitreEffet);
  
  font-size:var(--titre);
  font-weight:bold;
  text-align: justify;
  overflow-wrap: break-word;
  
  border-top:1px solid var(--black);
  border-bottom:1px solid var(--black);
  margin-top:1px;
  padding-left:var(--heightTitreEffet);
  
  position:relative;
}

/* Description de l'effet */
.carte ul{
  padding-inline-start: 5px;
  margin-top: 1mm;
  margin-bottom: 1mm;
}
.carte li{
  list-style-type:none;
  padding:0;
  margin:0;
}
.carte li::before{
  content:"○ "
}

/* seconde profondeur */
.carte ul ul{padding-inline-start: 10px;}
.carte ul ul li::before{content:"○ "}

.carte .citation{
  display:block;
  max-height:10%;
  width:100%;
  
  font-style:italic;
  text-align:center;
  font-size:var(--citation);
  line-height: var(--line-height-citation);
  padding-bottom: 0.5mm;
  
  /* NE PAS TOUCHER */
  position:absolute;
  bottom:0;
  left:0;
}