#navBar {
    width: 930px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    overflow: hidden;
}

.card {
	margin: 1px;
	float: left;
	width: 300px;
	height: 450px;
	background-color: darkred;
	padding: 3px;
}

div.background{
	background-color: lightgrey;
	min-width: 98%;
	min-height: 98%;
	padding: 1%;
}

div.name{
	font-family: 'Cinzel', serif;
	text-transform: capitalize;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
}

div.name.personnage_antagoniste{
	color: red;
}

div.name.personnage_protagoniste{
	color: blue;
}

div.name.personnage_neutre{
	color: yellow;
}

div.name.equipement_commun{
	color: rgb(255, 255, 255);
}

div.name.equipement_rare{
	color: rgb(16, 187, 209);
}

div.name.equipement_epique{
	color: rgb(131, 7, 161);
}

div.name.equipement_legendaire{
	color: rgb(255, 136, 0);
}

span.icon{
	float: right;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

span.icon > img {
	width: 100%;
	height: 100%;
}

div.description_grand_format{
	font-family: 'Times New Roman', serif;
	font-size: 13px;
	text-align: justify;
	background-color: white;
	height: 400px;
}

div.image {
	background-color: grey;
	height:100px;
	overflow: hidden;
}

div.image > img {
	width: 100%;
	height: 100%;
}

div.type {
	font-family: 'IM Fell English SC', serif;
	font-variant: small-caps;
	font-weight: bold;
	height: 20px;
	line-height: 20px; 
	vertical-align: middle;
}
div.type > span {
	display: inline-block;
	margin: 1px;
}

div.type > span:first-child{
	width: 70%;
}

div.description {
	font-family: 'Times New Roman', serif;
	font-size: 13px;
	text-align: justify;
	background-color: white;
	height: 270px;	
}

/* class inheritance ? TODO */
div.description.d_extended {
	height: 290px;	
}

.liste {
	padding: 2px;	
	margin: 0px;
	list-style-type: none;
}

.liste_sans_enfant{
	padding: 2px;
	margin: 0px;
	list-style-type: circle;
}

.liste_sans_enfant > li {
    list-style-position: inside;
	margin-left: 10px;
}

.liste_sans_enfant > li > span {
	position: relative;
	left: -10px; 
}

.sous_liste {
	padding: 0px;
	list-style-type: circle;
}

.sous_liste > li {
    list-style-position: inside;
	margin-left: 10px;
}

.sous_liste > li > span {
	position: relative;
	left: -10px; 
}

.sous_liste_2 {
	padding: 0px;
	list-style-type: circle;
}

.sous_liste_2 > li {
    list-style-position: inside;
	margin-left: 20px;
}

.sous_liste_2 > li > span {
	position: relative;
	left: -10px; 
}

div.quote {
	background-color: lightgrey;
	font-style: italic;
	font-size:11px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}

