/* Ceci doit spécifique uniquement aux Règles si nécessaire */
@page {
	size: A4;
 }

body{
	zoom: 100%;
	/* background-color: darkgray; */
	/* background-color: #718C9E; */
	/* background-color: #A7B8C3; */
	background-image:var(--bgImg);
    background-size:cover;
	font-size:20px;
}

td {
	text-align: left;
	border: 1px solid black;	
}