#navBar {
    width: 930px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    overflow: hidden;
}

.card {
	margin: 1px;
	float: left;
	width: 300px;
	height: 450px;
	background-color: darkred;
	padding: 3px;
}

div.background{
	background-color: lightgrey;
	min-width: 98%;
	min-height: 98%;
	padding: 1%;
}

div.name{
	font-family: 'Cinzel', serif;
	text-transform: capitalize;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
}

.personnage-antagoniste{
	color: black;
}

.personnage-neutre{
	color: grey;
}

.personnage-protagoniste{
	color: white;
}

.equipement-commun{
	color: rgb(255, 255, 255);
}

.equipement-rare{
	color: rgb(0, 112, 221);
}

.equipement-epique{
	color: rgb(163, 53, 238);
}

.equipement-legendaire{
	color: rgb(205, 126, 67);
}

.consommable{
	color: darkblue;
}

.lieux{
	color: rgb(4, 149, 62);
}

.retournement{
	color: indigo;
}

.quete{
	color: teal;
}

span.icon{
	float: right;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

span.icon > img {
	width: 100%;
	height: 100%;
}

div.description-grand-format{
	font-family: 'Times New Roman', serif;
	font-size: 13px;
	text-align: justify;
	background-color: white;
	height: 400px;
}

div.image {
	background-color: grey;
	height:100px;
	overflow: hidden;
}

div.image > img {
	width: 100%;
	height: 100%;
}

div.type {
	font-family: 'IM Fell English SC', serif;
	font-variant: small-caps;
	font-weight: bold;
	height: 20px;
	line-height: 20px; 
	vertical-align: middle;
}
div.type > span {
	display: inline-block;
	margin: 1px;
}

div.type > span:first-child{
	width: 70%;
}

div.description {
	font-family: 'Times New Roman', serif;
	font-size: 13px;
	text-align: justify;
	background-color: white;
	height: 270px;	
}

div.description.d-extended {
	height: 290px;	
}

.liste {
	padding: 2px;	
	margin: 0px;
	list-style-type: none;
}

.liste-sans-enfant{
	padding: 2px;
	margin: 0px;
	list-style-type: circle;
}

.liste-sans-enfant > li {
    list-style-position: inside;
	margin-left: 10px;
}

.liste-sans-enfant > li > span {
	position: relative;
	left: -10px; 
}

.sous-liste {
	padding: 0px;
	list-style-type: circle;
}

.sous-liste > li {
    list-style-position: inside;
	margin-left: 10px;
}

.sous-liste > li > span {
	position: relative;
	left: -10px; 
}

.sous-liste-2 {
	padding: 0px;
	list-style-type: circle;
}

.sous-liste-2 > li {
    list-style-position: inside;
	margin-left: 20px;
}

.sous-liste-2> li > span {
	position: relative;
	left: -10px; 
}

div.quote {
	background-color: lightgrey;
	font-style: italic;
	font-size:11px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}


/********************/
/*** PETIT FORMAT ***/
/********************/

#navBar-petit-format {
    width: 930px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    overflow: hidden;
}

.card-filler-petit-format {
	margin: 1px;
	float: left;
	width: 300px;
	height: 150px;
	padding: 3px;
}

div.background-petit-format{
	background-color: lightgrey;
	min-width: 95%;
	min-height: 95%;
	padding: 1%;
}

.card-petit-format {
	margin: 1px;
	float: left;
	width: 300px;
	height: 150px;
	background-color: darkred;
	padding: 3px;
}

div.description-petit-format{
	height: 110px;
	font-family: 'Times New Roman', serif;
	font-size: 12px;
	font-weight: bold;
	overflow-wrap:break-word;
	text-align: center;
	background-color: white;	
}

div.description-petit-format > p {
	margin: 0px;
	padding-top: 33px;
}

div.description-petit-format > p:nth-child(2) {
	padding-top: 10px;
}

div.description-petit-format > p.unique {
	margin: 0px;
	padding-top: 43px;
}

span.icon-petit-format{
	float: right;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

span.icon-petit-format > img {
	width: 100%;
	height: 100%;
}